#chatWrapper{
    width: 100%;
    height: 30%;

    position: absolute;
    bottom: 0;


}

#messageBoard {
    height: 75%;
    width: 100%;
    overflow: auto;

    position: absolute;
    top: 0;
    vertical-align: bottom;

    display: flex;
    flex-direction: column-reverse;
    background-color: ghostwhite;

    padding: 0;


}

#messageBoardFade {
    content:'';
    height: 65%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    pointer-events: none;

}

#messageInputWrapper {
    height: 25%;
    width: 100%;

    position: absolute;
    bottom: 0;

    display:flex;
    justify-content:center;
    align-items:center;
    float: none;

    border-top: 1px solid gray;

}

#messageInput {

    height: 85%;
    width: 90%;
    display: block;
    float: left;

    outline: 0;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;



    text-indent: 20px;
    box-sizing: border-box;

    border: 1px solid dodgerblue;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: auto 0 auto 2px;




}

#sendMessage {
    height: 85%;
    width: 10%;

    display: block;
    float: left;
    margin: auto 2px auto 0;

    background: dodgerblue url('../assets/material_send.png') no-repeat center;
    border: 1px solid dodgerblue;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    padding: 0;

    vertical-align: middle;

}



