* {
    font-family: 'Lato', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;

}

#container {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;

}

#gameMenu {
    width: 60%;
    height: 80%;
    margin: auto;
    text-align: center;
    position: relative;
}

#gameTitle {
    font-family: 'Lato', sans-serif;
    width: auto;
    font-size: 100px;
    margin: auto auto 45px auto;
    position: relative;
}

.menuButton {

    width: 250px;
    height: 100px;
    display: block;
    margin: 15px auto 15px auto;
    opacity: 0.9;
    color: white;

    font-family: 'Lato', sans-serif;
    font-size: 40px;

    border-radius: 17px;
    border-top-width: 0;
    border-bottom-width: 8px;
    border-left-width: 0;
    border-right-width: 8px;

    position: relative;

}

.menuButton:hover {
    opacity: 1;
}

.menuButton:active {
    top: 10px;
    box-shadow: none !important;
    margin-bottom: 0;
}

.menuButton:active,
.menuButton:focus {
    /** Remove Chrome's Outline **/
    outline: 0;
}

#btnPlay {
    border: 0;
    background-color: deeppink;
    box-shadow: 0 10px #990c58;
}


#btnServerSearch {
    border: 0;
    background-color: dodgerblue;
    box-shadow: 0 10px #125699;

}

#btnSettings {
    border: 0;
    background-color: lawngreen;
    box-shadow: 0 10px #4a9700;
}

#ssmBackdrop {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    opacity: 1;
    background-color: rgba(0, 0, 0, .1);
}

#serverSearchMenu {

    width: 10px;
    height: 10px;
    position: absolute;

    top:0;
    left:0;
    bottom:0;
    right:0;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;

    z-index: 5;

    border-radius: 12px;
    visibility: hidden;
    background-color: dodgerblue;
}

#tableWrapper {

    visibility: hidden;

    width: 80%;
    height: 80%;

    background-color: ghostwhite;
    border-radius: 12px;

    position: relative;
    z-index: 7;

    padding: 30px;
}

#serverList {


    width: 100%;
    height: 100%;

    border-collapse: collapse;

    background-color: ghostwhite;
    border-radius: 12px;

    position: relative;
    z-index: 7;
}

#serverTableHeader {

    width: 100%;
    height: 10%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    padding-left: 5px;
    padding-right: 5px;

    background-color: ghostwhite;

}

.serverListRow {
    border: 0 solid #555555;
    border-bottom-width: 3px;
}

.serverTableC1 {
    height: 20%;    
    width: 20%;
    text-align: left;
    border-bottom: 1px #555555;
}

.serverTableC2 {    
    height: 20%; 
    width: 40%;
    text-align: center;
}

.serverTableC3 {    
    height: 20%; 
    width: 20%;
    text-align: right;
}

.serverRow {
    opacity: .60;
}

.serverRow:hover {
    opacity: 1;
}

.serverRow:focus {
    color: lawngreen;
    opacity: 1;
    outline: 0;
}


#floatingLoadingScreen {
    width: 200px;
    height: 100px;

    margin: auto;
    visibility: hidden;
    position: absolute;

    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;

    z-index: 7;

}

#gameLoading {
    width: 50px;
    height: 50px;
    vertical-align: top;
    position: relative;

    margin-bottom: 5%;
}

#btnSelectServer {

    height: 50px;
    width: 100px;

    display: block;
    margin: 15px auto 15px auto;
    opacity: 0.9;
    color: white;

    font-family: 'Lato', sans-serif;
    font-size: 40px;

    border-radius: 7px;
    border: 0;

    background-color: lawngreen;
    box-shadow: 0 10px #4a9700;

    position: absolute;
    right:    1%;
    bottom:   0;

    z-index: 7;
}

#btnSelectServer:hover {
    opacity: 1;
}

#btnSelectServer:active {
    bottom: 1px;
    box-shadow: none !important;
    margin-bottom: 0;
}

#btnSelectServer:active,
#btnSelectServer:focus {
    /** Remove Chrome's Outline **/
    outline: 0;
}

#settingsBackdrop {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    opacity: 1;
    background-color: rgba(0, 0, 0, .1);
}

#settingsMenu{

    width: 10px;
    height: 10px;
    position: absolute;

    top:0;
    left:0;
    bottom:0;
    right:0;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;

    z-index: 5;

    border-radius: 12px;
    visibility: hidden;
    background-color: lawngreen;
}

#settingsValueWrapper {

    visibility: hidden;

    width: 80%;
    height: 80%;

    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;

    background-color: ghostwhite;
    border-radius: 12px;

    position: relative;
    z-index: 7;

    padding: 30px;

    text-align: center;
}

.settingsText {
    font-size: 20px;
}

.settingsInput {

    width: 350px;
    height: 50px;

    border-radius: 8px;
    border: 0;
    outline: 0;
    margin-left: 15px;
    box-shadow: 1px 1px 1px 1px gray;

    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;

    float: top;
}

#btnSaveSettings {

    height: 50px;
    width: 100px;

    display: block;
    margin: 15px auto 15px auto;
    opacity: 0.9;
    color: white;

    font-family: 'Lato', sans-serif;
    font-size: 40px;

    border-radius: 7px;
    border: 0;

    background-color: lawngreen;
    box-shadow: 0 10px #4a9700;

    position: absolute;
    bottom:   0;

    z-index: 7;
}

#btnSaveSettings:hover {
    opacity: 1;
}

#btnSaveSettings:active {
    bottom: 1px;
    box-shadow: none !important;
    margin-bottom: 0;
}

#btnSaveSettings:active,
#btnSaveSettings:focus {
    /** Remove Chrome's Outline **/
    outline: 0;
}